html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 7em;
  background-color: rgba(255, 255, 255, .7);
}

nav ul {
  margin: 2%;
  list-style: none;
  display: flex;
  justify-content: space-around;

}

nav li {
  display: inline;
  margin: 0 10px;
  color: hotpink;
  font-size: 3em;
}

#jumbo {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('/images/jumbo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: left;
  color: white;
}

.container {
  position: relative;
}

h1 {
  font-size: 4em;
  margin-bottom: 2em;
}

h2 {
  font-size: 3em;
}

#greeting {
  padding: 40vh 10vw;
}

#portfolio, #about, #contact {
  padding: 5% 15%;
  position: relative;
}

#about p {
  width: 100%;
  margin-bottom: 4em;
  padding-top: 1.5em;
  font-size: 2em;
  text-align: center; 
}

.pineapple-divider {
  height: 20em;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url('https://hd.unsplash.com/photo-1451479456262-b94f205059be');
}

.section-container {
  padding: 12% 5%;
}

.single-project {
  width: 90%;
  padding: 3%;
  margin: auto;
  text-align: center;
  background: #dcdcdc;
}

.single-project img {
  width: 15em;
  padding: 2%;
}

#node, #webpack, #socket {
  width: 5.5em;
}

#sass {
  width: 10em;
}
.single-project .close {
  font-size: 4rem;
  float: right;
}

.project-heading {
  width: 100%;
  border-bottom: 1px solid #999;
}
.project-heading button {
  margin-bottom: 2%;
  margin-left: 4%;
  font-size: 2em;
  border: 1px solid black;
  background: white;
}

.project-content {
  padding: 5%;
}
.project-content p {
  font-size: .7em;
}
.build {
  display: inline;
}

.singlebox {
  margin: 4% 0;
  width: 100%;
  height: 20vh;
  color: white;
  font-size: 1rem;
  border: none;
}

#pitch-in {
  background: #B20F40;
}

#ww {
  background: #CC0742;
}

#eda {
  background: #FFEF22;
}

#njco {
  background: #7AE1FF;
}

#contact {
  padding: 25% 10% 10% 10%;
}

#contact i {
  padding: 7%;
  font-size: 5em;
}

.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-envelope {
  color: #d50f25;
}

.mobile-photo {
  margin: 5%;
  height: 50em;
  background-size: cover;
  background-image: url('/images/nick-about.jpg');
}

/*============== MEDIA QUERY LAPTOP ======================*/

@media screen and (min-device-width: 900px) {

  .flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  h2 {
  font-size: 1.5em;
  }

  nav {
    height: 50px;
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    font-size: 1.2em;
  }

  .pineapple-divider, .face-divider {
    height: 33vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .face-divider {
    background-image: url('/images/nick-about.jpg');
  }

  .bottom {
    height: 10vh;
  }

  #about p {
    width: 30%;
    padding-top: 10px;
    text-align: left; 
    font-size: 1em;
  }

  #portfolio {
    min-height: 100vh;
  }

  .single-project {
    width: 80%;
    text-align: left;
  }

  .single-project img {
    width: 10vw;
  }

  #node, #webpack, #socket {
    width: 5vw;
  }
  #sass {
    width: 8vw;
  }

  .single-project .close {
    font-size: 3rem;
  }
 
  .project-heading button {
    margin-bottom: 2%;
    margin-left: 4%;
    font-size: .7em;
    border-radius: 4px;
  }

  .project-content-container {
    display: flex;
    justify-content: space-between;
  }
  .project-content {
    width: 75vw;
    padding-right: 10%;
  }
  .project-content p {
  font-size: .9em;
  }
  .build {
    width: 25vw;
    display: block;
  }

  .singlebox {
    width: 260px;
  }

  #contact {
    height: 30%;
    padding: 10%;
  }

  #contact .iconbox {
    padding: 10%;
  }

  #contact i {
    padding: 5%;
    font-size: 3rem;
  }

  .mobile-photo {
    display: none;
  }

  footer {
    margin-top: 1%;
    text-align: center;
  }

}

================ MEDIA QUERIES ===============================
